<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Version</string>
    <string>AddingEmojiKeybordHandled</string>
    <string>com.apple.content-rating.ExplicitMusicPodcastsAllowed</string>
    <string>RegionFilter</string>
    <string>AppleLanguagesDidMigrate</string>
    <string>vpn.button.description</string>
    <string>vpn.widget.port</string>
    <string>UseConnectSiriShortcuts</string>
    <string>NSLanguages</string>
    <string>Theme</string>
    <string>ShowGeoServers</string>
    <string>AppleLanguages</string>
    <string>vpn.widget.socket</string>
    <string>usesCustomDNS</string><string>PKKeychainVersionKey</string>
    <string>UseSmallPackets</string>
    <string>AppEnvironmentIsProduction</string>
    <string>stopInAppMessages</string>
    <string>INNextHearbeatDate</string>
    <string>DismissedMessages</string>
    <string>AKLastEmailListRequestDateKey</string>
    <string>checksDipExpirationRequest</string>
    <string>AKLastIDMSEnvironment</string>
    <string>CarCapabilities</string>
    <string>ApplePerAppLanguageSelectionBundleIdentifiers</string>
    <string>quickSettingKillswitchVisible</string>
    <string>userInteractedWithSurvey</string>
    <string>quickSettingPrivateBrowserVisible</string>
    <string>successConnections</string>
    <string>successDisconnections</string>
    <string>DidAskToEnableNotifications</string>
    <string>com.apple.Animoji.StickerRecents.SplashVersion</string>
    <string>ApplePasscodeKeyboards</string>
    <string>vpn.widget.trusted.network</string>
    <string>quickSettingNetworkToolVisible</string>
    <string>StagingVersion</string>
    <string>com.apple.content-rating.TVShowRating</string>
    <string>IKEV2UseSmallPackets</string>
    <string>com.apple.content-rating.AppRating</string>
    <string>canAskAgainForReview</string>
    <string>AppleTextDirection</string>
    <string>WireGuardUseSmallPackets</string>
    <string>NSAllowsDefaultLineBreakStrategy</string>
    <string>UseDisconnectSiriShortcuts</string>
    <string>AppleLocale</string>
    <string>com.apple.content-rating.MovieRating</string>
    <string>NSInterfaceStyle</string>
    <string>disablesMultiDipTokens</string>
    <string>quickSettingThemeVisible</string>
    <string>PKLogNotificationServiceResponsesKey</string>
    <string>com.apple.content-rating.ExplicitBooksAllowed</string>
    <string>AppleITunesStoreItemKinds</string>
    <string>AppleLanguagesSchemaVersion</string>
    <string>vpn.widget.protocol</string>
    <string>failureConnections</string>
    <string>Launched</string>
    <string>showsDedicatedIPView</string>
    <string>INNextFreshmintRefreshDateKey</string>
    <string>AppVersion</string>
</array>
</plist>
